[name=plugin_id] + .selectize-control{
  max-width:300px;
}

.text-common {
  color:#5E9100 !important;
}
.text-admin {
  color:#E23D3B !important;
}
    
.switch-button {
  display:inline-block;
}  
  .switch-button span {
    float:left;
    padding:5px 8px;
    background:#e6e6e6;
    color:#888;
    cursor:pointer;
  }
    .switch-button span:hover {
      text-decoration:underline;
    }
    .switch-button span.active {
      color:#212121;
    }
    .switch-button span.common.active {
      background:#BAFF3F;
    }
    .switch-button span.admin.active {
      background:#FF5E5B;
    }
    .switch-button span.other.active {
      background:#4CC6FF;
    }
    .switch-button span.ignore.active {
      background:#ff0000;
    }
    .switch-button span:first-of-type {
      border-radius:5px 0 0 5px;
    }
    .switch-button span:last-of-type {
      border-radius:0 5px 5px 0;
    }
    .switch-button span:only-of-type {
      border-radius:5px;
    }

.files, .files * {
  margin:0;
  padding:0;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.files.level-0 {
  width:80%;
  overflow:hidden;
}
  .files table {
    border-collapse:collapse;
    border-spacing:0;
    text-align:left !important;
    width:100%;
  }
  .files th, .files td {
    padding:0 5px;
    height:30px;
    line-height:10px;
  }
  
  .files tbody > tr:nth-child(2n) {
    background:#f5f5f5;
  }
  .files tbody > tr:nth-child(2n+1) {
    background:#efefef;
  }
  
  .files tr.folder > td.filename {
    font-weight:bold;
  }
  .files tr.folder > td {
    background:#888;
    color:#fff;
  }
  .files tr.nested > td {
    padding:0;
    background:#ddd;
  }
    .files tr.nested .files {
      margin-left:30px;
      width:calc(100% - 30px);
      position:relative;
    }
      /* the before is used to display marks */
      .files tr.nested .files:before {
        content:"";
        position:absolute;
        width:15px;
        height:calc(100% - 14px);
        top:0; left:-44px;
        border-left:29px solid #ddd;
        background-image:linear-gradient(to bottom, white 1px, transparent 1px), linear-gradient(to right, white 1px, transparent 1px);
        background-position:0px 15px;
        background-size:15px 30px;
      }
      /* the after is used to hide useless marks of the parent */
      .files tr.nested tr.nested:last-child  > td > .files:after {
        content:"";
        position:absolute;
        background:#ddd;
        top:-14px; left:-50px;
        width:15px;
        height:calc(100% + 14px);
      }
    
  .files th.ignore, .files td.ignore {
    width:70px;
  }
  .files th.type, .files td.type {
    width:140px;
  }
  .files th.other, .files td.other {
    width:240px;
  }
  
  

.strings {
  border-collapse:collapse;
  text-align:left !important;
  margin:0;
}
  .strings th {
    background:#999;
    color:#eee;
    padding:2px 5px;
    white-space:nowrap;
  }
    .strings thead th:not(:first-of-type) {
      border-left:1px solid #eee;
    }
    .strings thead th:first-of-type {
      border-radius:5px 0 0 0;
    }
    .strings thead th:last-of-type {
      border-radius:0 5px 0 0;
    }
    .strings tfoot th:first-of-type {
      border-radius:0 0 0 5px;
    }
    .strings tfoot th:last-of-type {
      border-radius:0 0 5px 0;
    }
  
  .strings td {
    background:#e7e7e7;
    border-top:1px solid #ccc;
    padding:2px 3px;
    vertical-align:top;
    color:#444;
  }
    .strings tr.missing td {
      background:#EBD9D9;
    }
    .strings tr.useless td {
      background:#DBEACC;
    }
    .strings tr.hover td {
      background:#D9E2EB;
    }
  
  .strings tr td.toggler {
    cursor:pointer;
    color:#666;
  }
    .strings tr td:first-child:hover:before {
      color:#222;
    }
  .strings tr td:nth-child(2) {
    min-width:300px;
    max-width:700px;
  }
  .strings tr td:nth-child(3) {
    text-align:right;
  }
  
  .strings tr.file {
    display:none;
    font-size:0.8em;
  }
    .strings tr.file td {
      border-color:#ddd;
    }
    
  .strings .legend span:before {
    content:" ";
    display:inline-block;
    width:10px;
    height:10px;
    overflow:hidden;
    margin:0 3px 0 10px;
  }
    .strings .legend span.missing:before {
      background:#EAAFAF;
    }
    .strings .legend span.useless:before {
      background:#BFE599;
    }

.tiptip {
  cursor:help;
}